/*-------- Start Global Styles -------*/

* {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #8d5ea3;
  border-radius: 12px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*-------- End Global Styles -------*/

/*-------- Start Media Query -------*/

// XSmall Screens

@media all and (max-width: 639px) {
  html {
    font-size: 0.9rem;
  }
}

// Small Screens

@media all and (min-width: 640px) and (max-width: 767px) {
  html {
    font-size: 0.95rem;
  }
}

/*-------- End Media Query -------*/
